{% extends "core/base.html" %}

{% block title %}Customer Details{% endblock %}

{% block content %}
    <h1>{{ customer.name }}</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Address Details</h5>
                {% comment %} <label for="address1">Address Line 1</label> {% endcomment %}
                <small class="text-muted">Address Line 1</small>
                <p class="card-text">{{ customer.address1 }}</p>
                <small class="text-muted">Address Line 2</small>
                <p class="card-text">{{ customer.address2 }}<p>
                <small class="text-muted">Address Line 3</small>
                <p class="card-text">{{ customer.address3 }}</p>
                <small class="text-muted">Town</small>
                <p class="card-text">{{ customer.town }}</p>
                <small class="text-muted">County</small>
                <p class="card-text">{{ customer.county }}</p>
                <small class="text-muted">Post Code</small>
                <p class="card-text">{{ customer.post_code }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contact Details</h5>
                <small class="text-muted">Contact Name</small>
                <p class="card-text">{{ customer.contact_name }}</p>
                <small class="text-muted">e-Mail Address</small>
                <p class="card-text">{{ customer.email_address }}</p>
                <small class="text-muted">Telephone No.</small>
                <p class="card-text">{{ customer.telephone_no }}</p>
                <small class="text-muted">Mobile No.</small>
                <p class="card-text">{{ customer.mobile_no }}</p>
                <small class="text-muted">Alternate Telephone No.</small>
                <p class="card-text">{{ customer.alt_telephone_no }}</p>
            </div>
          </div>
        </div>
      </div>
    
    {% if customer.quotes.count > 0 %}
    <h4>Quotes for {{ customer.name }}</h4>
    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Customer Name</th>
              <th scope="col">System Type</th>
              <th scope="col">Premises Type</th>
              <th scope="col">Status</th>
              <th scope="col" class="text-end">Sale Value</th>
              <th scope="col" class="text-end">Action</th>
          </tr>
      </thead>
      <tbody>
          {% for quote in customer.quotes.all %}
          <tr>
              <th scope="row">{{ quote.id }}</th>
              <td>{{ quote.customer.name }}</td>
              <td>{{ quote.get_system_type_display }}</td>
              <td>{{ quote.get_premises_type_display }}</td>
              <td>{{ quote.get_quote_status_display }}</td>
              <td class="text-end">£{{ quote.quote_sale_value }}</td>
              <td class="text-end"><a class="btn btn-primary" href="{{ quote.get_absolute_url }}" role="button">View</a></td>
          </tr>
          {% endfor %}
          <tr>
              <th scope="row">Total</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-end">£{{ quotes.calculated_total }}</td>
              <td class="text-end"></td>
          </tr>
      </tbody>
  </table>
    {% else %}
        <p>There are no quotes to display</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url "customer-list" %}" role="button">Go Back</a>
    <a class="btn btn-primary" href="{{ customer.get_absolute_url }}/update" role="button">Update Customer</a>
    <a class="btn btn-danger" href="{{ customer.get_absolute_url }}/delete" role="button">Delete Customer</a>
    <a class="btn btn-secondary" href="{{ customer.get_absolute_url }}/addquote" role="button">Add Quote</a>
{% endblock %}