{% extends "core/base.html" %}

{% block title %}Surveyor Details{% endblock %}

{% block content %}
    <h1>{{ surveyor.name }}</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Surveyor Details</h5>
                <small class="text-muted">Unique Id</small>
                <p class="card-text">{{ surveyor.slug }}</p>
                <small class="text-muted">Sales Region</small>
                <p class="card-text">{{ surveyor.get_sales_region_display }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contact Details</h5>
              <small class="text-muted">Telephone No.</small>
              <p class="card-text">{{ surveyor.telephone_no }}</p>
              <small class="text-muted">Mobile No.</small>
              <p class="card-text">{{ surveyor.mobile_no }}</p>
              <small class="text-muted">Alternate Telephone No.</small>
              <p class="card-text">{{ surveyor.alt_telephone_no }}</p>
              <small class="text-muted">eMail Address</small>
              <p class="card-text">{{ surveyor.email_address }}</p>
            </div>
          </div>
        </div>
      </div>
    
    {% if surveyor.quotes.count > 0 %}
    <h4>Quotes for {{ surveyor.name }}</h4>
    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Customer Name</th>
              <th scope="col">System Type</th>
              <th scope="col">Premises Type</th>
              <th scope="col">Status</th>
              <th scope="col" class="text-end">Sale Value</th>
              <th scope="col" class="text-end">Action</th>
          </tr>
      </thead>
      <tbody>
          {% for quote in surveyor.quotes.all %}
          <tr>
              <th scope="row">{{ quote.id }}</th>
              <td>{{ quote.customer.name }}</td>
              <td>{{ quote.get_system_type_display }}</td>
              <td>{{ quote.get_premises_type_display }}</td>
              <td>{{ quote.get_quote_status_display }}</td>
              <td class="text-end">£{{ quote.quote_sale_value }}</td>
              <td class="text-end"><a class="btn btn-primary" href="{{ quote.get_absolute_url }}" role="button">View</a></td>
          </tr>
          {% endfor %}
          <tr>
              <th scope="row">Total</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-end">£{{ quotes.calculated_total }}</td>
              <td class="text-end"></td>
          </tr>
      </tbody>
  </table>
    {% else %}
        <p>There are no surveyors to display</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url "surveyor-list" %}" role="button">Go Back</a>
    <a class="btn btn-primary" href="{{ surveyor.get_absolute_url }}/update" role="button">Update Surveyor</a>
    <a class="btn btn-danger" href="{{ surveyor.get_absolute_url }}/delete" role="button">Delete Surveyor</a>
    <a class="btn btn-secondary" href="{{ surveyor.get_absolute_url }}/addquote" role="button">Add Quote</a>
{% endblock %}