{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add Surveyor</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.sales_region|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.telephone_no|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.mobile_no|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.alt_telephone_no|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.email_address|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save Surveyor</button><a class="btn btn-danger" href='/surveyor'>Cancel</a>
  </form>
{% endblock %}
