{% extends "core/base.html" %}

{% block title %}Quote Details{% endblock %}

{% block content %}
    <h1>{{ quote.customer.name }}</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Quote Details</h5>
                <small class="text-muted">Quote Reference No.</small>
                <p class="card-text">{{ quote.reference }}</p>
                <small class="text-muted">System Type</small>
                <p class="card-text">{{ quote.get_system_type_display }}</p>
                <small class="text-muted">Description</small>
                <p class="card-text">{{ quote.description }}</p>
                <small class="text-muted">Premises Type</small>
                <p class="card-text">{{ quote.get_premises_type_display }}</p>
                <small class="text-muted">Quote Status</small>
                <p class="card-text">{{ quote.get_quote_status_display }}</p>
                <small class="text-muted">Remarks</small>
                <p class="card-text">{{ quote.remarks }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">More Details</h5>
                <small class="text-muted">Surveyor</small>
                <p class="card-text">{{ quote.surveyor }}</p>
                <small class="text-muted">Creation Date</small>
                <p class="card-text">{{ quote.creation_date }}</p>
                <small class="text-muted">Quotation Date</small>
                <p class="card-text">{{ quote.quotation_date }}</p>
                <small class="text-muted">Quote Valid Until</small>
                <p class="card-text">{{ quote.valid_until }}</p>
                <small class="text-muted">Last Modified</small>
                <p class="card-text">{{ quote.last_modified }}</p>
                <small class="text-muted">Sale Value</small>
                <p class="card-text">£{{ quote.quote_sale_value }}</p>
            </div>
          </div>
        </div>
      </div>
    
    {% if customer.quotes.count > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col" class="text-end">#</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in customer.quotes.all %}
            <tr>
                {% comment %} <th scope="row">{{ forloop.counter }}</th> {% endcomment %}
                {% comment %} <td>{{ quote.description }}</td> {% endcomment %}
                <td>#</td>
                <td>#</td>
                <td class="text-end">£</td>
            </tr>
            {% endfor %}
            <tr>
                {% comment %} <th scope="row">Total</th> {% endcomment %}
                <td></td>
                <td></td>
                <td class="text-end"></td>
                {% comment %} <td class="text-end">£{{ quote.calculated_total|floatformat:"2g" }}</td> {% endcomment %}
            </tr>
        </tbody>
        
    </table>
    {% else %}
        <p>There are no quotes to display</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url "quote-list" %}" role="button">Go Back</a>
    <a class="btn btn-primary" href="{{ quote.get_absolute_url }}/update" role="button">Update Quote</a>
    <a class="btn btn-danger" href="{{ quote.get_absolute_url }}/delete" role="button">Delete Quote</a>
    <a class="btn btn-secondary" href="{{ quote.get_absolute_url }}/addquote" role="button">Add Quote</a>
{% endblock %}